@import "bootstrap/css/bootstrap.min.css";

body {
    max-width: 60em;
    margin: auto;
}

.caution {
    color: #000000C0;
    background-color: #fdd;
    border: thick #600;
    border-style: solid none;
    padding: 0.5em;
}
.caution::before {
    content: "⚠️";
    color: #000000ff;
    display: block;
    font-size: 2em;
    position: relative;
    top: -0.25em;
    margin: 0 0.25em 0 0;
    padding: 0;
    float: left;
}


.info {
    color: #000000C0;
    background-color: #dfd;
    border: #060;
    border-style: solid none;
    padding: 0.5em;
    font-size: 80%;
}
.info::before {
    content: "💡";
    color: #000000ff;
    display: block;
    font-size: 1.5em;
    position: relative;
    top: -0.25em;
    margin: 0 0.25em 0 0;
    padding: 0;
    float: left;
}

label > img {
    display: block;
    max-height: 100%;
    max-width: 100%;
    margin: 0;
}

label > button {
    width: 100%;
    padding: 0;
}

#walkthrough > ul > li > a[id], #walkthrough label {
    max-width: 128px;
    transition: max-width 1s ease-in;
    float: right;
}
#walkthrough > ul > li > a[id]:hover,
#walkthrough > ul > li > a[id]:target,
#walkthrough input:checked+label {
    max-width: 50%;
    transition: max-width 0.5s ease-in;
}

#walkthrough > ul > li > a[id] > img, #walkthrough label img {
    max-width: 100%;
}

#walkthrough > ul > li {
    clear: right;
}

input[name="model"] {
    display: none;
}
input[name="model"] + * {
    display: none;
}
input[name="model"]:checked + * {
    display: block;
}